header {
    position: relative;
    height: 70px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #CCCCCC;
}
header div.logo {
    position: absolute;
    width: 142px;
    height: 60px;
    background-image: url(../images/logo.png);
    left: 20px;
}