body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.container {
    position: relative;
    max-width: 1000px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
}